body{
    overflow-x: hidden;
}
//section 1 style lari

.ulMenu1{
    display: block;
}
.ulMenu2{
    display: block;
}

.section1{
    height: 100vh;
    width: 100%;
    background-image:url("https://images.unsplash.com/photo-1516815231560-8f41ec531527?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1hbGRpdmVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .boros{
        margin-top: 70px;      
        background-color: rgba(255, 255, 255, 0.342);
        border-radius: 40px;
        padding: 10px;
    }
    .boros2{
        display: flex;
        justify-content: center;
    }
   
}
.iher{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 45px;
    text-align: center;
}
.cardMenu1{
    background-color: #5E9DE0;
    position: fixed;
    z-index: 200 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px !important;
    display: flex;
    justify-content: space-between;

    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            transition: 0.2s;
            text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.35);
            color: white;
        }
    }
    .menu1awsome{
        color: rgb(172, 219, 238);
        font-size: 20px;
    }
    .form-contro{
        border-radius: 7px;
        border:0;
        padding: 3px;
        margin:0 5px;
    }
    ul{
        list-style-type: none;
        display: flex;
        li{
            margin: 5px 10px;
            p{
                font-size: 14px;
                padding: 0;
                margin: 0;
                color: white;
                font-family: 'Noto Sans JP', sans-serif;
            }
        }
       
    }
}

@media  screen and (max-width:730px){
    .smmenu{
        display: block !important;
    }
    .ulMenu1{
        display: none;
    }
    .ulMenu2{
        display: none;
    }
    .cardMenu2{
        display: block !important;
    }
    .cardMenu1{
        // background-color:white;
        // color: white;
    display: none;
    }
    .diving{
        width: 400px;
        height: 400px;
        .divingImg{
            width: 90%;
            height: 90%;
        }
        .divingInform{
        position: relative;
        bottom: 270px;
        margin: 10px 30px;
        left: 10px;
        }
    }
}

.cardMenu2{

    height: 70px !important;
    display: none;
    justify-content: space-between;
    a{
        color: white;
        opacity: 1;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            transition: 0.2s;
            text-shadow: 2px 7px 11px rgba(0, 0, 0, 0.35);
            color: white;
        }  
    }
    ul{
        list-style-type: none;
        display: flex;
        li{
            margin: 5px 10px;
            p{
                font-size: 14px;
                padding: 0;
                margin: 0;
                color: white;
                font-family: 'Noto Sans JP', sans-serif;
            }
        }
       
    }
}

//swiper styles
html,
body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
}


// section2

.section2{
    padding: 30px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(45deg,rgb(207, 207, 207),rgb(202, 201, 201),white);
    .row2{
    background-image: linear-gradient(45deg,rgba(30, 192, 130, 0.678),rgba(206, 243, 248, 0.787),rgba(67, 123, 226, 0.541));        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 7px 5px rgba(51, 51, 51, 0.685);
    }
    .nav-link{
        color: white;
    }
    .tab-content{
        margin-top: 30px;
        height: auto;
        .inTabLeft{
            margin: 30px 0;
        }
        .inTabright{
            margin: 15px;
        }
    }
    
.carousel-inner{
    margin: 15px;
}  
}


//section 3

@media screen and (max-width:700px) {
    .img3main{
        height: 480px !important;
    } 
}


//section 3
.section3{
    background-image: url("https://i.pinimg.com/originals/8a/92/e4/8a92e4d2472d2b20ec05bfff308036ec.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .inf3{
        p{
            text-shadow: 2px 2px #000000bb;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    .img3main{
        position: relative;
        height: 620px;
        margin: 15px 0;
        padding: 15px;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 2px 2px rgba(68, 131, 146, 0.164);
        &:hover{
            box-shadow: 0 3px 3px 3px rgba(68, 131, 146, 0.164);
            transform: translateY(-15px) !important;
            transition: 0.3s;
        }
        a{
            color: rgb(10, 10, 10);
            font-weight: 400;
            text-decoration: none;
            &:hover{
                color: rgb(166, 195, 0);
                transition: 0.3s;
            }
        }


        .img3{
            text-align: center;
            width: 230px;
            height:230px;
            object-fit: cover;
            box-shadow: 0 3px 3px 4px rgba(54, 54, 54, 0.424);
            border-radius: 10px;
            &:hover{
                box-shadow: 0 4px 5px 6px rgba(54, 54, 54, 0.424);
                transition: 0.3s;

            }
        }
        p{
            margin: 0 20px;
        }
        .scubaDiving{
            position: absolute;
            top: 20px;
            left: 50%;
            img{
                text-align: center;
                width: 100px;
                height:100px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}



//section 6
.section4{
    margin: 10px 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .blocklar{
        display: flex; 
        .chap{
            flex: 1;
            display: flex;
            text-align: center;
            margin: 15px;
            .chap2{  
                box-shadow: 0 3px 3px 4px rgba(41, 41, 41, 0.548);

                display: flex;
                text-align: center !important;
                justify-content: center !important;         
                height: 50px;
                width: 50px;
                border-radius: 50%;
                color: white;
                background-color: rgba(26, 90, 207, 0.63);
                p{
                    margin-top: 13px;
                    color: white;
                }
            }
        }
        .ong{
            display: inline-block;
            width: 100%;
        }
    }
 
    .imgkl{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
   
}



//section 5
.section5{
    background-image: url("https://static8.depositphotos.com/1007963/848/i/600/depositphotos_8482954-stock-photo-sailing-boats-on-the-beautiful.jpg");
    background-size: cover;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 50px 0;
    .kr{
        position: relative;
  
    }
    .m-3{
        position: relative;
        .palma{
            position: relative;
            top: 0;
            right: 20px;
            img{
                width: 60px;
            }
        }
    }
    .kidsImg{
        position: relative;
        padding: 10px;
        border-radius: 15px;
        margin: 15px;
        width: 98%;
        &:hover{
            transition: 0.3s;
            opacity: 0.7;
            .kidsInform{
                opacity: 1;
                transition: 0.3s;
            }
        }
        img{
            border-radius: 15px;
        }
        .kidsInform{
            color: rgb(10, 10, 6);
            padding: 15px;
            position: absolute;
            bottom: 0;
            left: 10px;
            opacity: 0;
            p{
                font-weight: bolder;
            }

        }
    }
    .palmakids{
        position: relative;
        .kids2{
            position:absolute;
            top: 0;
            right: 90px;
            img{
                width: 100px;
                border-radius: 560%;
            }
        }
    }
    .kidsVideo{
        video{
            width: 100%;
            margin: 10px;
            border-radius: 15px;
        }
    }
}


//footer

footer{
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 30px 0;
    z-index: -1;
    a{
        text-decoration: none;
        &:hover{
            text-shadow: 2px 2px rgba(0, 0, 0, 0.76);
            transition: 0.2s;
        }
    }
    .boros22{
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.911);
    }
    background-image: linear-gradient(45deg,rgba(17, 17, 122, 0.863),rgba(39, 56, 134, 0.644));
    .location{
        color: rgba(255, 255, 255, 0.63);
    }
    p{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

//kichik menu uchun

// scroll down for that good good pin CSS
$pinkPrimary: #55ecad;
$purplePrimary: #2cc0c5;
$yellowPrimary: #4b7be0;
$almostBlack: #742792;
$z-top: 1;
$z-mid: 0;

.smmenu {
    position: fixed;
    top: 10px;
    left: 10px;
    margin-top: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  z-index: 202;
  * {
    transition: all 120ms ease-out;
  }
  div {
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0px;
    }
  }
  .sr-only {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

// ------------ here there be pins! ------------
.pin-container {
  height: 58px;
  position: relative;
  width: 48px;
  display: inline-block;
}

.pin {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-radius: 100% 100% 0 100%;
  border-width: 1px;
  box-shadow: 8px 8px 16px rgba(42, 44, 46, 0.08);
  color: white;
  position: absolute;
  left: -24px;
  top: 10px;
  transform: rotate(45deg);
  transform-origin: right bottom;
  width: 48px;
  height: 48px;

  &__daycare {
    background-color: $pinkPrimary;
    &-selected,
    &:hover,
    &:focus {
      border-color: $pinkPrimary;
      color: $pinkPrimary;
    }
  }

  &__preschool {
    background-color: $purplePrimary;
    &-selected,
    &:hover,
    &:focus {
      border-color: $purplePrimary;
      color: $purplePrimary;
    }
  }

  &__featured {
    background-color: $yellowPrimary;
    &-selected,
    &:hover,
    &:focus {
      border-color: $yellowPrimary;
      color: $yellowPrimary;
    }
  }

  > .material-icons {
    position: absolute;
    top: 24%;
    left: 24%;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    background-color: white;
    box-shadow: 8px 8px 48px rgba(0, 135, 194, 0.56);
    cursor: pointer;
    transform: rotate(45deg) scale(1.25); // 25%
    z-index: 201;
  }
}



